RewriteEngine On
RewriteBase /8080/

# Periksa apakah permintaan bukan untuk file yang ada (misalnya gambar atau file CSS)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URL eksternal ke URL internal
RewriteRule ^home-pegawai/form-permohonan-cuti$ /home-pegawai.php?page=form-permohonan-cuti-tahunan [L]
